.drawerOptions {
margin: 0px;
width: 100%;
}

#btnCadastrar {
    margin-left: 12%;
}

#root {
    height: 100vh;
}

.pagecontent {
    height: 10px;
}

#root div {
    height: 100%;
}

.pagecontent {
    width: 100%;
}
footer {
    width: 100%;
}

.drawerUserInfo {
    width: 100%;
    margin: 0px;
    margin-left: -10px;
    padding: 10px; 
}

#infoUserName {
    text-align: center;
}

.drawerUserInfo span {
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: -10px;

}


.foot {
    text-align: center;
    width: 100%;
}


