.card {
  width: 600px;
  height: 50px;
  float: left;
  }
  .userProfile {
    width: 100%;
    min-width: 1030px;
    height: 100px
    }
  .bullet {
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)';
  }

  .title {
    font-size: 14;
  }
  .pos {
    margin-bottom: 12;
  }

  #information{
      margin-top: 30px;
  }

  .cardSpan {
        font-size: 25px
  }
  .userInfo {
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;

  }

  
  .userInfoS {
    margin-left: 20px;
    font-size: 25px;
  }

  #userAvatarCard {
    background-color: orangered;
    color: "#fff";
    margin-top: 30px;
    margin-left: 20%;
    width: 300px;
    font-size: 150px;

  }

  #cardHeader {
    height: 200px;
  }

  #cardTitle {
    font-size: 45px;
  }

  #HeaderButton {
    margin-left: 20.2%;
  }

  #editCard {
    margin-left: 1.5%;
     width: 52%;
  }

  #infoCArd {
    width: 46.326%;
  }


  @media screen and (max-width: 1310px) {
    #HeaderButton {
      margin-left: 5.2%;
    }
  } 
  
  @media screen and (max-width: 1121px) {
    #HeaderButton {
      margin-left: 0.5%;
    }
  }